<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="logo"> <a href="#" rel="home"><img title="BootstrapMade" alt="BootstrapMade" src="~/Images/logo.png"></a></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dashboard", "ProjectList", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>  @Html.ActionLink("Create Project", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
        </footer>
    </div>
    <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:90%;left:50%;padding:2px;"><img src='~/Images/demo_wait.gif' width="64" height="64" /><br>Loading..</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script type="text/javascript">
     $("#btnContractDWGSUpload").click(function (e) {

         var data = new FormData();
         var projectId = $('#ProejctId').val();
         data.append("projectId",$('#ProejctId').val())
         var files = $("#ContractDWGS").get(0).files;
         if (files.length > 0) {
             for ( i = 0; i< files.length; i++)
                {
                data.append(i.toString(), files[i]);

                }

         } else {
             return false;
         }
   $.ajax({
                url: '@Url.Action("UploadDocuments","Home")', type: "POST", processData: false,
                data: data, dataType: 'json',
       contentType: false,
       beforeSend: function () {

               $("#wait").css("display", "block");

       },
                success: function (response) {
                    if (response != null || response != '')
                        $.ajax({
                            contentType: 'application/html; charset=utf-8',
                             type: 'GET',
                             dataType: 'html',
                            data: { "id": projectId },
                       url : '@Url.Action("GetContractDwgs", "Home")',

                           success: function (result) {
                               $('#dvContractDwgs').html(result);
                               $('#ContractDWGS').val('')
                            },
                            error: function (xhr, status) {
alert(status) ;
}
                      });

                },
       error: function (er) { },
       complete: function () {

            $("#wait").css("display", "none");
       }

            });
     });

    $("#btnRFIResponseUpload").click(function (e) {

         var data = new FormData();
         var projectId = $('#ProejctId').val();
         data.append("projectId",$('#ProejctId').val())
         var files = $("#RFIResponses").get(0).files;
        if (files.length > 0)
        {
              for ( i = 0; i< files.length; i++)
    {
         data.append(i.toString(), files[i]);

    }
        }
        else return false;
   $.ajax({
                url: '@Url.Action("UploadRFIDocuments","Home")', type: "POST", processData: false,
                data: data, dataType: 'json',
       contentType: false, beforeSend: function () {

               $("#wait").css("display", "block");

       },

                success: function (response) {
                    if (response != null || response != '')
                        $.ajax({
                            contentType: 'application/html; charset=utf-8',
                             type: 'GET',
                             dataType: 'html',
                            data: { "id": projectId },
                       url : '@Url.Action("GeetRFIResponses", "Home")',

                           success: function (result) {
                               $('#dvRfiResponses').html(result);
                               $('#RFIResponses').val('')
                            },
                            error: function (xhr, status) {
alert(status) ;
                            }
                            ,
       complete: function () {

            $("#wait").css("display", "none");
       }
                      });

                },
                error: function (er) { }

            });
});

     $("#btnEngReviewedDrawingsUpload").click(function (e) {

         var data = new FormData();
         var projectId = $('#ProejctId').val();
         data.append("projectId",$('#ProejctId').val())
         var files = $("#EngineerReviewDrawings").get(0).files;
         if (files.length > 0)
         {
              for ( i = 0; i< files.length; i++)
    {
         data.append(i.toString(), files[i]);

    }
         }
         else return false;
   $.ajax({
                url: '@Url.Action("UploadEngineerReviewDocuments","Home")', type: "POST", processData: false,
                data: data, dataType: 'json',
       contentType: false,
                 beforeSend: function () {

               $("#wait").css("display", "block");

       },
                success: function (response) {
                    if (response != null || response != '')
                        $.ajax({
                            contentType: 'application/html; charset=utf-8',
                             type: 'GET',
                             dataType: 'html',
                            data: { "id": projectId },
                       url : '@Url.Action("GetEngineeringReviewedDwgs", "Home")',

                           success: function (result) {
                               $('#dvEngreviewedDwgs').html(result);
                               $('#EngineerReviewDrawings').val('')
                            },
                            error: function (xhr, status) {
alert(status) ;
}
                      });

                },
       error: function (er) { }
                ,
       complete: function () {

            $("#wait").css("display", "none");
       }

            });
});

    $("#btnShopDrawingsUpload").click(function (e) {

         var data = new FormData();
         var projectId = $('#ProejctId').val();
         data.append("projectId",$('#ProejctId').val())
         var files = $("#ShopDrawings").get(0).files;
        if (files.length > 0) {
              for ( i = 0; i< files.length; i++)
    {
         data.append(i.toString(), files[i]);

    }

        }
        else {
            return false;
        }

   $.ajax({
                url: '@Url.Action("UploadShopDrawingDocuments","Home")', type: "POST", processData: false,
                data: data, dataType: 'json',
       contentType: false,
                 beforeSend: function () {

               $("#wait").css("display", "block");

       },
                success: function (response) {
                    if (response != null || response != '')
                        $.ajax({
                            contentType: 'application/html; charset=utf-8',
                             type: 'GET',
                             dataType: 'html',
                            data: { "id": projectId },
                       url : '@Url.Action("GetShopDrawings", "Home")',

                           success: function (result) {
                               $('#dvShopDrawings').html(result);
                               $('#ShopDrawings').val('')
                            },
                            error: function (xhr, status) {
alert(status) ;
}
                      });

                },
       error: function (er) { }
                ,
       complete: function () {

            $("#wait").css("display", "none");
       }

            });
    });
</script>