@model  RDSUX.Models.ProjectDetailsModel
<div class="jumbotron">
    <p style="color:green;">@ViewBag.result</p>
    <h3 class="create-title">Edit Project</h3>
    @using (Html.BeginForm("UpdateProject", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmUpdateProject" }))
    {
        @Html.AntiForgeryToken()

        <table width="100%">
            <tbody>
                <tr width="100%">
                    <td class="form-td">
                        <table class="width100">
                            <tr class="width100">
                                <td align="right" class="listnames">Project Name:</td>
                                <td>
                                    @Html.TextBox("ProjectName", Model.ProjectName, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.TextBox("ProejctId", Model.ProejctId, new { @class = "form-control", style = "display: none;" })
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>.
                            </tr>
                            <tr class="width100">
                                <td align="right" class="listnames">Project Type:</td>
                                <td>
                                    @Html.DropDownList("ProjectTypeModel", Model.ProjectTypeList, "Select", new { @class = "select-dropdown", required = (string)null })
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="width100">
                                <td align="right" class="listnames">Scope of Work:</td>
                                <td>
                                    @Html.DropDownList("SOWModel", Model.ScopeOfWork, "Select", new { @class = "select-dropdown", required = (string)null })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="form-td">
                        <table class="width100">
                            <tr class="width100">
                                <td align="right" class="listnames" valign="middle">Notes:</td>
                                <td>
                                    @Html.TextArea("Notes", Model.Notes, 10, 30, new { @class = "form-control" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table class="width100">

            <tr class="tdbody-bg">

                <td width="15%" class="font12">Job Number:   @Html.TextBox("JobNumber", Model.JobNumber, new { @class = "form-control", required = (string)null })</td>
                <td width="5%">&nbsp;</td>
                <td width="15%" class="font12">Purchase Order:  @Html.TextBox("PurchaseOrder", Model.PurchaseOrder, new { @class = "form-control" })</td>
                <td width="5%">&nbsp;</td>
                <td width="25%">
                    Job Sheet: <b>@Model.JobSheetName </b>
                    @if (!string.IsNullOrEmpty(Model.JobSheetName))
                    {

                        <a href='/Home/DownloadJobSheet?id=@Model.ProejctId'>Download</a>

                        <a href='/Home/DeleteJobSheet?id=@Model.ProejctId'>Delete</a>

                    }
                </td>
                <td width="5%">&nbsp;</td>
                <td width="25%">Edit Job Sheet:    <input type="file" name="JobSheet" /></td>
            </tr>
           
        </table>

        <table class="table-inner width100">
            <tbody class="tbody-inner">
                <tr width="100%">
                    <td colspan="2">
                        <h4> Standard Information</h4>
                    </td>
                </tr>
                <tr class="width100">
                    <td class="font12">Client Name: </td>
                    <td class="td-margin">
                        @(Html.TextBoxFor(m => m.BarCode.StandardSplice, new { @class = "form-control" }))
                    </td>
                </tr>
                <tr class="width100">
                    <td class="font12">Bar Supports: </td>
                    <td width="20px">
                        @(Html.CheckBoxFor(m => m.BarCode.BarCodeGrade, new { @class = "checkboxnew" }))
                    </td>
                </tr>

                <tr class="width100">
                    <td class="font12">Type of Couplers: </td>
                    <td class="td-margin">
                        @(Html.TextBoxFor(m => m.BarCode.MachanicSplice, new { @class = "form-control" }))
                    </td>
                </tr>
                <tr class="width100">
                    <td class="font12">Stock Length :</td>
                    <td class="td-margin">
                        @{
                            string stockLength = string.Empty;
                            if (Model.BarCode.StockLength != 0)
                            {
                                stockLength = Model.BarCode.StockLength.ToString();
                            }

                        }
                        @(Html.TextBox("StockLength", stockLength, new { @class = "form-control" }))
                    </td>
                </tr>

                <tr class="width100">
                    <td colspan="2">&nbsp;</td>
                </tr>
            </tbody>
        </table>

        <table class="table-inner width100">
            <tbody class="tbody-inner">
                <tr>
                    <td width="20%"><h4>Shop Drawings</h4> <input type="file" name="ShopDrawings" multiple id="ShopDrawings" /></td>
                    <td width="10%">
                        <input type="button" id="btnShopDrawingsUpload" class="btn btn-default create-btn" value="Upload Shop" />
                    </td>
                    <td width="70%">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="dvShopDrawings">
                            @{Html.RenderAction("GetShopDrawings", "Home", new { id = Model.ProejctId });}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-inner width100">
            <tbody class="tbody-inner">
                <tr>
                    <td width="20%"><h4>Contract DWGS</h4><input type="file" multiple name="ContractDWGS" id="ContractDWGS" /></td>
                    <td width="10%">
                        <input type="button" id="btnContractDWGSUpload" class="btn btn-default create-btn" value="Upload Contract" />
                    </td>
                    <td width="70%">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="dvContractDwgs">
                            @{Html.RenderAction("GetContractDwgs", "Home", new { id = Model.ProejctId });}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-inner width100">
            <tbody class="tbody-inner">
                <tr>
                    <td width="20%"><h4>RFI Responses</h4> <input type="file" multiple name="RFIResponses" id="RFIResponses" /></td>
                    <td width="10%">
                        <input type="button" id="btnRFIResponseUpload" class="btn btn-default create-btn" value="Upload RFI Response" />
                    </td>
                    <td width="70%">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="dvRfiResponses">
                            @{Html.RenderAction("GeetRFIResponses", "Home", new { id = Model.ProejctId });}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table-inner width100">
            <tbody class="tbody-inner">
                <tr>
                    <td width="20%"><h4>Purchase Orders</h4> <input type="file" multiple name="PurchaseOrders" id="PurchaseOrders" /></td>
                    <td width="10%">
                        <input type="button" id="btnPurchaseOrderUpload" class="btn btn-default create-btn" value="Upload Purchase Order" />
                    </td>
                    <td width="70%">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="dvPurchaseOrders">
                            @{Html.RenderAction("GetPurchaseOrders", "Home", new { id = Model.ProejctId });}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table-inner width100">
            <tbody class="tbody-inner">
                <tr>
                    <td width="20%"><h4>Engineer Reviewed dawings</h4> <input type="file" multiple name="EngineerReviewDrawings" id="EngineerReviewDrawings" /></td>
                    <td width="10%">
                        <input type="button" id="btnEngReviewedDrawingsUpload" class="btn btn-default create-btn" value="Upload Engineer Reviewed" />
                    </td>
                    <td width="70%">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="dvEngreviewedDwgs">
                            @{Html.RenderAction("GetEngineeringReviewedDwgs", "Home", new { id = Model.ProejctId });}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div align="right">
            <input type="submit" class="btn btn-default create-btn" value="UpdateProject"
                   onclick="location.href='@Url.Action("Home", "Home11")'" />
        </div>

    }
</div>
<div>
    @Html.ActionLink("Back to Projects", "ProjectList")
</div>