@model IEnumerable<RDSUX.Models.EngineerReviewedDrawings>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EngineeringDrawingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TImeStamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EngineeringDrawingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TImeStamp)
        </td>
        <td>
            @{
                var downloadmodel = "EngineeringDrawings_" + item.EngineeringDrawingId + "_" + item.ProjectId;
            }
            <a href='/Home/DownloadEngineeringRiewedDrawings?downloadmodel=@downloadmodel'>Download</a>



            <a href='/Home/DeleteEngineeringReviewedDocument?downloadmodel=@downloadmodel'>Delete</a>
        </td>
    </tr>
}

</table>
