@model  RDSUX.Models.ProjectDetailsModel
<div class="jumbotron jumbotron-container">
    <p style="color:green;">@ViewBag.result</p>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p style="color:red;">@ViewBag.ErrorMessage</p>

    }
    <h3 class="create-title">Create Project</h3>
    @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <table width="100%">
            <tbody class="tdbody-bg">
                <tr>
                    <td width="50%">
                        <table class="width100">
                            <tr class="width100">
                                <td align="right" class="font12">Project Name:</td>
                                <td class="td-margin">
                                    @Html.TextBox("ProjectName", Model.ProjectName, new { @class = "form-control", required = (string)null })

                                    @Html.ValidationMessage("ProjectName", "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>.
                            </tr>
                            <tr class="width100">
                                <td align="right" class="font12">Project Type:</td>
                                <td class="td-margin">
                                    @Html.DropDownList("ProjectTypeModel", Model.ProjectTypeList, "Select", new { @class = "select-dropdown", required = (string)null })
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="width100">
                                <td align="right" class="font12">Scope of Work:</td>
                                <td class="td-margin">
                                    @Html.DropDownList("SOWModel", Model.ScopeOfWork, "Select", new { @class = "select-dropdown", required = (string)null })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="5%">&nbsp;</td>
                    <td width="50%">
                        <table class="width100">
                            <tr class="width100">
                                <td align="right" class="listnames" valign="middle">Notes:</td>
                                <td>
                                    @Html.TextArea("Notes", Model.Notes, 10, 30, new { @class = "form-control" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table class="width100">

            <tr class="tdbody-bg">

                <td width="30%" class="font12">Job Number:   @Html.TextBox("JobNumber", Model.JobNumber, new { @class = "form-control", @type = "number", required = (string)null })</td>
                <td>&nbsp;</td>
                <td width="30%" class="font12">
                    Job Sheet:<input type="file" name="JobSheet" />
                </td>
                <td width="30%" class="font12">Contract DWGS: @Html.TextBoxFor(model => model.ContractDWGSFiles, "", new { @type = "file", @multiple = "multiple" })  </td>
            </tr>
        </table>

        <table class="table-inner width100">
            <tbody class="tbody-inner">
                <tr class="width100">
                    <td colspan="2">
                        <h4> Standard Information</h4>
                    </td>
                </tr>

                <tr class="width100">
                    <td class="font12">Client Name: </td>
                    <td class="td-margin">
                        @(Html.TextBoxFor(m => m.BarCode.StandardSplice, new { @class = "form-control" }))
                    </td>
                </tr>
                <tr class="width100">
                    <td class="font12">Bar Supports: </td>
                    <td width="20px">

                        @(Html.CheckBoxFor(m => m.BarCode.BarCodeGrade, new { @class = "checkboxnew" }))
                    </td>
                </tr>
                <tr class="width100">
                    <td class="font12">Type of Couplers: </td>
                    <td class="td-margin">
                        @(Html.TextBoxFor(m => m.BarCode.MachanicSplice, new { @class = "form-control" }))
                    </td>
                </tr>
                <tr class="width100">
                    <td class="font12">Stock Length :</td>
                    <td class="td-margin">
                        @{
                            string stockLength = string.Empty;
                            if (Model.BarCode.StockLength != 0)
                            {
                                stockLength = Model.BarCode.StockLength.ToString();
                            }

                        }
                        @(Html.TextBox("StockLength", stockLength, new { @class = "form-control", @type = "number" }))
                    </td>
                </tr>

                <tr width="100%">
                    <td colspan="2">&nbsp;</td>
                </tr>
            </tbody>
        </table>

        @*<table width="100%">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="30%" class="font12">
                        Contract DWGS:
                        @Html.TextBoxFor(model => model.ContractDWGSFiles, "", new { @type = "file", @multiple = "multiple" })
                    </td>
                </tr>
            </table>*@
        <div align="right">
            <input type="submit" class="btn btn-primary create-btn" value="Create Project" />
        </div>

    }
</div>
<div>
    @Html.ActionLink("Back to Projects", "ProjectList")
</div>