@model  RDSUX.Models.ProjectDetailsModel

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @*<form id="form_advanced_validation" method="POST" novalidate="novalidate">*@
            <div class="card">
                <div class="header">
                    <p style="color:green;">@ViewBag.result</p>

                    <p style="color:red;" id="error">@ViewBag.ErrorMessage</p>

                    <h2>
                        <strong>Create Project </strong>
                    </h2>

                </div>
                <div class="body">
                    @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBox("ProjectName", Model.ProjectName, new { placeholder = "Project Name", @class = "form-control", required = (string)null })
                                        <span id="errorProjectname" style="color:red; display:none;"> Project name exists</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">

                                    <div class="form-line">
                                        @Html.DropDownList("ProjectTypeModel", Model.ProjectTypeList, "Select Project Type", new { @class = "form-control", required = (string)null })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">

                                    <div class="form-line">
                                        @Html.DropDownList("SOWModel", Model.ScopeOfWork, "Select SOW", new { @class = "form-control", required = (string)null })

                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row clearfix">

                            <div class="col-sm-12">
                                <div class="input-field col s12">
                                    @Html.TextArea("Notes", Model.Notes, 10, 30, new { placeholder = "Notes", @class = "materialize-textarea" })
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextBox("JobNumber", Model.JobNumber, new { placeholder = "Job Number", @class = "form-control", @type = "number", required = (string)null })


                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <form action="#">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" name="JobSheet" />
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload Job Sheet ">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form action="#">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            @Html.TextBoxFor(model => model.ContractDWGSFiles, "", new { @type = "file", @multiple = "multiple" })
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload Contract DWGS:">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <h2 class="card-inside-title">
                            Standard Information
                        </h2>
                        <div class="row clearfix">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @(Html.TextBoxFor(m => m.BarCode.StandardSplice, new { placeholder = "Client Name", @class = "form-control" }))

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @(Html.CheckBoxFor(m => m.BarCode.BarCodeGrade, new { placeholder = "Type of Couplers", @class = "checkboxnew" }))
                                    <input type="text" class="form-control" placeholder="Type of Couplers" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    @(Html.TextBoxFor(m => m.BarCode.MachanicSplice, new { placeholder = "Stock Length", @class = "form-control" }))
                                    
                                </div>
                            </div>
                            @*<div class="col-sm-4">
                                <div class="form-group">
                                    <label>                                       
                                        <span>Bar Supports</span>
                                    </label>
                                    @(Html.CheckBoxFor(m => m.BarCode.BarCodeGrade, new { @class = "checkboxnew" }))
                                </div>
                            </div>*@

                        </div>
                        <button class="btn btn-primary waves-effect" id="btnSubmit" type="submit">Create Project</button>

                    }

                </div>
            </div>
        @*</form>*@
    </div>
</div>


<div>
    @Html.ActionLink("Back to Projects", "ProjectList")
</div>

