@model IEnumerable<RDSUX.Models.Project>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2> <strong>Projects</strong> </h2>

                <p style="color:green;">@ViewBag.result</p>

                <p style="color:red;" id="error">@ViewBag.ErrorMessage</p>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="btn-group m-l-15">
                            <button id="addRow" class="btn btn-info">
                                @Html.ActionLink("Create New Project", "Index", "Home", new { area = "" }, null)
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    @using (Html.BeginForm("ProjectList", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <table id="tableExport" class="display table table-hover table-checkable order-column m-t-20"
                               style="width: 100%">
                            <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Project Name</th>
                                    <th>Assign Date</th>
                                    <th>Assignee</th>
                                    <th style="width: 20%;">Notes</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Select((item, index) => new { item, index }))
                                {
                                    <tr>
                                        <td>
                                            @(item.index + 1)
                                        </td>
                                        <td>
                                            @Html.ActionLink(item.item.ProjectName, "EditProject", "Home", new { Id = item.item.ProejctId }, null)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.item.AssignDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.item.CreateBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.item.Notes)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.item.StatusName)
                                        </td>

                                        <td>
                                            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                                            <a href="#" class="btn btn-outline-danger btn-border-radius" onclick="return DeleteProject(@item.item.ProejctId, '@item.item.ProjectName');">Delete</a>
                                            @*@Html.ActionLink("Delete", "DeleteProject", new { id = item.item.ProejctId, @class = "btn btn-outline-danger btn-border-radius" })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                </div>
            </div>
        </div>
    </div>
