@model IEnumerable<RDSUX.Models.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="create-title">Projects</h2>
<p style="color:green;">@ViewBag.result</p>
<p>
    @Html.ActionLink("Create New Project", "Index", "Home", new { area = "" }, null)
</p>
@using (Html.BeginForm("ProjectList", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<table class="table">
    <tbody>
        <tr class="thbody-bg">
            <th>
                @Html.DisplayNameFor(model => model.ProejctId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProejctId)
                </td>
                <td>
                    @Html.ActionLink(item.ProjectName, "EditProject", "Home", new { Id = item.ProejctId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobNumber)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Delete", "DeleteProject", new { id = item.ProejctId })
                </td>
            </tr>
        }
</tbody>
</table>
}
